body{
    text-align: center;
    
}

.topic{
    width: 100%;
    height: 150px;
    background-color: rgb(172, 68, 140);
    font-size: 50px;
}


.TYPE{
    color: black;
    position: relative;
    top: 20px;
    padding: 30px;
    font-size: 20px;
    display: inline-block;
    justify-content: center;
    word-spacing: 20px;
    
}

.topic .move{
    float: left;
    text-align: center;
}

.topic ul.logo{
    list-style: none;
    float: right;
}

.topic ul.logo li{
    float: left;
    margin-right: 15px;
    padding-bottom: 20px;
}

.img{
    padding-top: 50px;
    
}

.information{
    display: inline-flex;
}